*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.btn{
    display: inline-block;
    padding: 15px 35px;
    background-color: beige;
    color: black;
    border-radius: 25px;
    font-size: 18px;
}

.btn:hover{
    background-color: chocolate;
}

.filtro{
    display: none;
}